[ req ]
prompt = no
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                 = PL
stateOrProvinceName         = Dolnośląskie
localityName               = Wrocław
organizationName           = SomeOrganization
commonName                 = revoked.org

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1   = *.revoked.org
